body {
	font-family: Sans-serif;
    background-color: #8fbc8f;
}

h1 {
  color: rgb(250,235,215);
  text-shadow: 2px 2px 4px #000000;
}

ul{
	list-style-type: none;
	border:1px solid #000;
	padding: 5px;
	border-radius: 10px;
}

li:nth-child(2n+1) {
  background-color: rgb(255,255,224);
}

li:nth-child(2n) {
  background-color: rgb(238,232,170);
}